/*@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');*/

@font-face {
    font-family: "Circular Std";
    src: url("/src/assets/circular-std-medium-500.ttf")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.trustAnimation {
    animation-duration: 1s;
    animation-name: fadeInUp;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title {
    color: #111928;
    font-size: 40px;
    font-style: normal;
    /*font-weight: 700;*/
    line-height: 51px;
    width: 44%;
}

.inner {
    display: flex;
    width: 47%;
    flex-direction: column;
    
}

.description {
    color: #4a5873;
    padding-bottom: 1rem;
    /*font-family: Circular Std;*/
    font-size: 1rem;
    /*font-style: normal;*/
    font-weight: 450;
    letter-spacing: 0.2px;
    line-height: 140%;
}

.metrics {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.count {
    display: flex;
    flex-direction: column;
}

.count h1{
    color: #111928;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 51px;
}

.count p {
    color: #4a5873;
    font-size: 16px;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 450;
    letter-spacing: .2px;
    line-height: 140%;
}

.header1 span{
    color: #2ebdb6;
}

@media screen and (max-width: 768px) {
    .title {
      max-width: 60%; /* Increase width on larger screens */
    }
    .inner {
      margin-left: 2%; /* Add space between title and inner container */
    }
    .count {
      width: 25%; /* Increase width on larger screens */
      max-width: none; /* Remove max-width limit */
    }

   
  }
  @media screen and (max-width: 280px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .title{
        width: 200px;
    }
    .inner{
        display: flex;
        justify-content: center;
        width: 200px;
        /* padding: 12px; */
      
    }
    .count{
        width: 200px;
        justify-content: center;
        align-items: center;
        text-align: left;
        
    }
    .count h1{
        font-size: 18px;
     
    }
    .count p {
       text-align: start;
        line-height: 15px;
        font-size: 10px;
    }
    .metrics {
        display: flex;
        justify-content: space-evenly;
    
    }
    
  }